<!DOCTYPE html>
<html>
    <head>
        <title>test Django blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">test Django Blog</a></h1>
        </div>

        <div>
            <p>published: 25.10.2022, 16:34</p>
            <h2><a href="">My first post</a></h2>
            <p>TEST. Изучаю django.</p>
        </div>

        <div>
            <p>published: 25.10.2022, 16:34</p>
            <h2><a href="">My second post</a></h2>
            <p>TEST. Изучаю Django.</p>
        </div>
    </body>
</html>